@page
@model BirdCageProduction.Web.Pages.Login.LoginModel
@{
}

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-5">
				<div class="login-wrap p-4 p-md-5">
					<div class="icon d-flex align-items-center justify-content-center">
						<span class="fa fa-user-o"></span>
					</div>
					<form method="post" class="login-form">
						<div class="form-group">
							<input type="text" class="form-control rounded-left" placeholder="Email" asp-for="@Model.Email" required>
						</div>
						<div class="form-group d-flex">
							<input type="password" class="form-control rounded-left" placeholder="Password" asp-for="@Model.Password" required>
						</div>
						<div class="form-group d-md-flex">
							<div class="w-50">
								<a href="#">Forgot Password</a>
							</div>
						</div>
						<div class="form-group d-md-flex">
							@if (!ModelState.IsValid)
							{
								<div class="alert alert-danger">
									@foreach (var modelStateEntry in ViewData.ModelState.Values)
									{
										foreach (var error in modelStateEntry.Errors)
										{
											<p>@error.ErrorMessage</p>
										}
									}
								</div>
							}
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary rounded submit p-3 px-5">Get Started</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>