@page
@using BusinessLogic.AutoMappers;
@model BirdCageProduction.Web.Pages.Dashboard.IndexModel
@{
}
<div class="app">
    <div class="main">
        <ul class="tabs">
            <li class="tabs-item active">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Dashboard/Index">Dashboard</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Order/Index">Order</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Production/Index">Production</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/BirdCagePage/Index">Bird Cage</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/PartPage/Index">Part</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/CustomerPage/Index">Customer</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/ProcedurePage/Index">Procedure</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/AccountPage/Index">Account</a>
                </span>
            </li>
        </ul>
        <div class="tabs-content">
            <div class="form-item">
                <label for="order">Total Order</label>
                <input type="text" class="form-item_input" id="id" value="@(Model.Order.Count)" disabled />
            </div>


        </div>
    </div>
</div>
