@page
@model BirdCageProduction.Web.Pages.Dashboard.IndexModel
@{
}
<div class="app">
    <div class="main">
        <ul class="tabs">
            <li class="tabs-item active">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Dashboard/Index">Dashboard</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Order/Index">Order</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Production/Index">Production</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/BirdCagePage/Index">Bird Cage</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Part/Index">Part</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/CustomerPage/Index">Customer</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Procedure/Index">Procedure</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/AccountPage/Index">Account</a>
                </span>
            </li>
        </ul>
        <div class="tabs-content">

            <div class="tabs-content__item active">Dashboard</div>
            @foreach (var order in Model.Order)
            {
                <span>@(order.ToString())</span>

                <br />
                @foreach (var orderDetail in order.OrderDetails)
                {
                    <form method="post" asp-page-handler="ToNextProgress" asp-route-id="@orderDetail.OrderDetailId">
                        <span>
                            @("  - " + orderDetail.ToString())
                            @if (orderDetail.Progresses != null && orderDetail.Progresses.Count > 0 )
                            {
                                
                                @* @("Current Step: " + orderDetail.Progresses.ToArray()[(int)orderDetail.CurrentStep]) *@
                                <button type="submit" class="btn btn-secondary">To next Progress</button>
                            } else
                            {
                                <button type="submit" class="btn btn-secondary">Generate Progresses</button>
                            }
                            
                        </span>
                        <br>
                    </form>
                }
            }
        </div>
    </div>
</div>
