@page
@model BirdCageProduction.Web.Pages.Part.IndexModel
@{
}
<div class="app">
    <div class="main">
        <ul class="tabs">
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Dashboard/Index">Dashboard</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Order/Index">Order</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Production/Index">Production</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/BirdCage/Index">Bird Cage</a>
                </span>
            </li>
            <li class="tabs-item active">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Part/Index">Part</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Customer/Index">Customer</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Procedure/Index">Procedure</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Account/Index">Account</a>
                </span>
            </li>
        </ul>
        <div class="tabs-content">

            <div class="tabs-content__item active">

                <div class="form-wrapper">
                    <form action="" class="form_order">
                        <div class="form-item">
                            <label for="id">Id</label>
                            <input type="text" class="form-item_input" id="id" disabled/>
                        </div>
                        <div class="form-item">
                            <label for="Name">Name</label>
                            <input type="text" class="form-item_input" id="Name" disabled />
                        </div>
                        <div class="form-item">
                            <label for="Description">Description</label>
                            <textarea rows="9"
                                      type="text"
                                      class="form-item_input"
                                      id="Parts" disabled></textarea>
                        </div>
                        <div class="form-item">
                            <label for="Shape">Shape</label>
                            <select id="Shape" class="form-item_input" disabled>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <label for="Material">Material</label>
                            <select id="Material" class="form-item_input" disabled>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <label for="Size">Size</label>
                            <select id="Size" class="form-item_input" disabled>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <label for="Color">Color</label>
                            <select id="Color" class="form-item_input" disabled>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <label for="Cost">Cost</label>
                            <input type="text" class="form-item_input" id="Cost" disabled />
                        </div>
                    </form>

                    <div class="table">
                        <table>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Shape</th>
                                <th>Material</th>
                                <th>Size</th>
                                <th>Cost</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="pagination">
                        <a href="#" class="pagination-prev"><< Prev</a>
                        <a href="#" class="pagination-number">1</a>
                        <a href="#" class="pagination-number">2</a>
                        <a href="#" class="pagination-number">3</a>
                        <a href="#" class="pagination-number">4</a>
                        <a href="#" class="pagination-number">5</a>
                        <a href="#" class="pagination-number">6</a>
                        <a href="#" class="pagination-number">7</a>
                        <a href="#" class="pagination-number">8</a>
                        <a href="#" class="pagination-number">9</a>
                        <a href="#" class="pagination-number">10</a>
                        <a href="#" class="pagination-next">Next >></a>
                    </div>

                    <div class="list-btn">
                        <button class="btn" id="addBtn">Add</button>
                        <button class="btn">Update</button>
                        <button class="btn">Delete</button>
                    </div>
                </div>

            </div>

        </div>

        <div class="popup">
            <div class="popup_wrapper">
                <button class="close">x</button>
                <form action="" class="form_order">
                    <div class="form-item">
                        <label for="id">Id</label>
                        <input type="text" class="form-item_input" id="id" />
                    </div>
                    <div class="form-item">
                        <label for="Name">Name</label>
                        <input type="text" class="form-item_input" id="Name" />
                    </div>
                    <div class="form-item">
                        <label for="Description">Description</label>
                        <textarea rows="9"
                                  type="text"
                                  class="form-item_input"
                                  id="Parts"></textarea>
                    </div>
                    <div class="form-item">
                        <label for="Shape">Shape</label>
                        <select id="Shape" class="form-item_input">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="Material">Material</label>
                        <select id="Material" class="form-item_input">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="Size">Size</label>
                        <select id="Size" class="form-item_input">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="Color">Color</label>
                        <select id="Color" class="form-item_input">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="Cost">Cost</label>
                        <input type="text" class="form-item_input" id="Cost" />
                    </div>

                    <div class="list-btn">
                        <button class="btn" id="addBtn">Add</button>
                        <button class="btn" id="cacelBtn">Cancel</button>
                    </div>
                </form>
            </div>

         </div>
    </div>
</div>


