@page
@model BirdCageProduction.Web.Pages.ProcedurePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="app">
    <div class="main">
        <ul class="tabs">
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Dashboard/Index">Dashboard</a>
                </span>
            </li>
            <li class="tabs-item ">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Order/Index">Order</a>
                </span>
            </li>
            <li class="tabs-item active">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Production/Index">Production</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/BirdCage/Index">Bird Cage</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Part/Index">Part</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Customer/Index">Customer</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text active">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Procedure/Index">Procedure</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Account/Index">Account</a>
                </span>
            </li>
        </ul>
        <div class="tabs-content">

            <div class="tabs-content__item active">
                <div class="form-wrapper">
                    <form action="" class="form_order">
                        <div class="form-item">
                            <label for="id">Id</label>
                            <input type="text" class="form-item_input" id="id" />
                        </div>
                        <div class="form-item">
                            <label for="Birdcage">Bird cage</label>
                            <select id="Birdcage" class="form-item_input">
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                        <div class="form-item">
                            <label for="Quantity">Quantity</label>
                            <input type="text" class="form-item_input" id="Quantity" />
                        </div>


                        <div class="form-item">
                            <label for="">Step</label>
                            <div class="form-item__bird-cage">
                                <div class="bird-cage-item">
                                    <div class="form-item">
                                        <label for="order-num">OrderNum</label>
                                        <input type="text" class="form-item_input" disabled readonly />
                                    </div>
                                    <div class="form-item">
                                        <label for="Name">Name</label>
                                        <input type="text" class="form-item_input" id="Name" disabled />
                                    </div>
                                    <div class="form-item">
                                        <label for="Description">Description</label>
                                        <textarea rows="9" type="text" class="form-item_input" id="Parts" disabled></textarea>
                                    </div>
                                    <div class="form-item">
                                        <label for="time-needed">Time Needed</label>
                                        <input type="text" class="form-item_input" disabled readonly />
                                    </div>
                                    <div class="form-item">
                                        <label for="cost">Cost</label>
                                        <input type="text" class="form-item_input" disabled readonly />
                                    </div>
                                    <div class="form-item">
                                        <label for="worker-num">Worker num</label>
                                        <input type="text" class="form-item_input" disabled readonly />
                                    </div>

                                    <img src="../images/icon-delete.png"
                                         alt=""
                                         width="60" onclick="deleteRow(this)" />
                                </div>

                                <div class="bird-cage-item">
                                    <div class="form-item">
                                        <label for="order-num">OrderNum</label>
                                        <input type="text" class="form-item_input" disabled readonly />
                                    </div>
                                    <div class="form-item">
                                        <label for="Name">Name</label>
                                        <input type="text" class="form-item_input" id="Name" disabled />
                                    </div>
                                    <div class="form-item">
                                        <label for="Description">Description</label>
                                        <textarea rows="9" type="text" class="form-item_input" id="Parts" disabled></textarea>
                                    </div>
                                    <div class="form-item">
                                        <label for="time-needed">Time Needed</label>
                                        <input type="text" class="form-item_input" disabled readonly />
                                    </div>
                                    <div class="form-item">
                                        <label for="cost">Cost</label>
                                        <input type="text" class="form-item_input" disabled readonly />
                                    </div>
                                    <div class="form-item">
                                        <label for="worker-num">Worker num</label>
                                        <input type="text" class="form-item_input" disabled readonly />
                                    </div>
                                    <img src="../images/icon-delete.png"
                                         alt=""
                                         width="60" onclick="deleteRow(this)" />
                                </div>
                            </div>
                        </div>

                    </form>
@* 
                    <div class="list-btn">
                        <button class="btn view">View Bird cage detail</button>
                    </div> *@
                    <div class="list-btn">
                        <button class="btn">Add</button>
                        <button class="btn">Update</button>
                        <button class="btn">Delete</button>
                    </div>
                    <div class="table">
                        <table>
                            <tr>
                                <th>Id</th>
                                <th>Bird cage name</th>
                                <th>Step</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Manager A</td>
                                <td>Sample</td>
                            </tr>

                        </table>
                    </div>
@*                     <div class="pagination">
                        <a href="#" class="pagination-prev"><< Prev</a>
                        <a href="#" class="pagination-number">1</a>
                        <a href="#" class="pagination-number">2</a>
                        <a href="#" class="pagination-number">3</a>
                        <a href="#" class="pagination-number">4</a>
                        <a href="#" class="pagination-number">5</a>
                        <a href="#" class="pagination-number">6</a>
                        <a href="#" class="pagination-number">7</a>
                        <a href="#" class="pagination-number">8</a>
                        <a href="#" class="pagination-number">9</a>
                        <a href="#" class="pagination-number">10</a>
                        <a href="#" class="pagination-next">Next >></a>
                    </div> *@
                </div>
            </div>

        </div>
    </div>
</div>