@page
@model BirdCageProduction.Web.Pages.Production.IndexModel
@{
}
<div class="app">
    <div class="main">
        <ul class="tabs">
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Dashboard/Index">Dashboard</a>
                </span>
            </li>
            <li class="tabs-item ">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Order/Index">Order</a>
                </span>
            </li>
            <li class="tabs-item active">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Production/Index">Production</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/BirdCagePage/Index">Bird Cage</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/PartPage/Index">Part</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Customer/Index">Customer</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text active">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Procedure/Index">Procedure</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Account/Index">Account</a>
                </span>
            </li>
        </ul>
        <div class="tabs-content">

            <div class="tabs-content__item active">
                <div class="form-wrapper">
                    <form action="" class="form_order">
                        <div class="form-item">
                            <label for="id">Id</label>
                            <input type="text" class="form-item_input" id="id" />
                        </div>
                        <div class="form-item">
                            <label for="Birdcage">Bird cage</label>
                            <select id="Birdcage" class="form-item_input">
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                        <div class="form-item">
                            <label for="Quantity">Quantity</label>
                            <input type="text" class="form-item_input" id="Quantity" />
                        </div>
                        <div class="form-item">
                            <label for="Creator">Creator</label>
                            <input type="text" class="form-item_input" id="Creator" />
                        </div>
                        <div class="form-item">
                            <label for="Parts">Parts</label>
                            <textarea rows="10"
                                      type="text"
                                      class="form-item_input"
                                      id="Parts"></textarea>
                        </div>
                    </form>

                    <div class="list-btn">
                        <button class="btn view">View Bird cage detail</button>
                    </div>
                    <div class="list-btn">
                        <button class="btn">Add</button>
                        <button class="btn">Update</button>
                        <button class="btn">Delete</button>
                    </div>
                    <div class="table">
                        <table>
                            <tr>
                                <th>Id</th>
                                <th>Creator</th>
                                <th>Bird cage name</th>
                                <th>Quantity</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Manager A</td>
                                <td>Sample</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Manager A</td>
                                <td>Sample</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Manager A</td>
                                <td>Sample</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Manager A</td>
                                <td>Sample</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Manager A</td>
                                <td>Sample</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Manager A</td>
                                <td>Sample</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Manager A</td>
                                <td>Sample</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Manager A</td>
                                <td>Sample</td>
                                <td>50</td>
                            </tr>
                        </table>
                    </div>
                    <div class="pagination">
                        <a href="#" class="pagination-prev"><< Prev</a>
                        <a href="#" class="pagination-number">1</a>
                        <a href="#" class="pagination-number">2</a>
                        <a href="#" class="pagination-number">3</a>
                        <a href="#" class="pagination-number">4</a>
                        <a href="#" class="pagination-number">5</a>
                        <a href="#" class="pagination-number">6</a>
                        <a href="#" class="pagination-number">7</a>
                        <a href="#" class="pagination-number">8</a>
                        <a href="#" class="pagination-number">9</a>
                        <a href="#" class="pagination-number">10</a>
                        <a href="#" class="pagination-next">Next >></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>